a { text-decoration: none; 
  color: rgb(255, 233, 0);
}

.a2
{color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;}

hr {
color: rgb(255, 233, 0);
border-color: rgb(255, 233, 0);
}
footer {color: rgb(255, 233, 0);}

sub {font-family: Arial, Helvetica, sans-serif, italic;}
sup {font-family: Arial, Helvetica, sans-serif, italic;}

section {color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;}


.c1 {
  float: left;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
}
.c2 {
  float: left;
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .c1 {
    width: 100%;
  }
}

span {font-family: Arial, Helvetica, sans-serif;}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

img {
  max-width: 100%
}
.image {
  flex-basis: 40%
}
.text {
  font-size: 20px;
  padding-left: 20px;
}

h2 {
  vertical-align: center;
  text-align: center;
}

p {font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family:  Helvetica, sans-serif; 
  font-size: 17px;
  background-color: rgb(4, 106, 56);
  color: rgb(255, 255, 255);
  margin: 0;
}

.content {
  line-height: 1.5;
max-width: 850px;
margin: auto;
padding: 10px;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(4, 106, 56);
  color: rgb(255, 233, 0);
  height: 50px;
}


.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  font-size: 20px;
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgb(255, 233, 0);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgb(255, 233, 0);
    background-color: rgb(4, 106, 56);
  }
}


